@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Student Information System</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large"> &raquo;</a></p>
</div>

